<ul class="list-unstyled">
    {% for photo in photos %}
        <li>
            <div class="text-center">
                <h3>{{ photo.description }}</h3>
                <a href="{{ vich_uploader_asset(photo, 'imageFile') }}"><img src="{{ vich_uploader_asset(photo, 'imageFile') | imagine_filter('800x800') }}" alt="{{ photo.description }}"></a>
            </div>
        </li>
    {% endfor %}
</ul>